body {background-image:url(weatherBackground.jpg); 
  margin:auto;
  height:500px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;

}

.Loginpage {
  height: 300px;
  width: 250px;
  background-color: white;
  color: black;
  opacity: 0.5;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 15px

}

.SigninHeader {
  text-align: center;
}

form {
  padding-left: 20px;
}

button {
  margin-top: 20px;
  align-content: center;
}
